<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img class="card" alt="mountains" src="{{ "/assets/img/chatbot/3b.png" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/chatbot/4b.png" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/chatbot/Simulator Screenshot - iPhone 15 - 2023-11-02 at 18.02.48.png" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/chatbot/Simulator Screenshot - iPhone 15 - 2023-11-02 at 18.03.08.png" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/chatbot/Simulator Screenshot - iPhone 15 - 2023-11-02 at 18.03.14.png" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/chatbot/Simulator Screenshot - iPhone 15 - 2023-11-02 at 18.02.35.png" | prepend: site.baseurl }}" />

  </div>
  <div class="contents-left">
    <h3>AI Smart Bot</h3>
    <ul>
      <li>Swift, SwiftUI, Combine, Adapti, Facebook analytics</li>
    </ul>
    <p>openai API powered chatbot app</p>
    <a class="project-link" href="https://apps.apple.com/us/app/ai-smart-bot-chatbot-assistant/id6449835125">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img class="card" alt="mountains" src="{{ "/assets/img/ts/460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ts/ts460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ts/ts460x0w2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ts/ts460x0w3.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ts/ts460x0w4.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ts/ts460x0w5.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ts/ts460x0w7.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Documentation and family communication app for teachers </h3>
    <ul>
      <li> Swift, SnapKit, Couchbase-Lite, APNS, Combine</li>
    </ul>
    <p> App for schools that manages documentation and communication with families </p>
    <a class="project-link" href="https://apps.apple.com/sa/app/teaching-strategies-teacher/id1663286926">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/aicl460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/ts460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/ts460x0w2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/ts460x0w3.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/ts460x0w4.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/ip626x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/ip626x0wcopy.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/ip626x0wcopy2.webp" | prepend: site.baseurl }}" />
    
  </div>
  <div class="contents-left">
    <h3> AI powered construction progress tracking and quality control. </h3>
    <ul>
      <li> Swift, MapBox, GeoJson, RapidJSON</li>
    </ul>
    <p> App that is showing map of construction site with millions of POIs and AI scanned statuses of every part</p>
    <a class="project-link" href="https://apps.apple.com/in/app/onsite-tracking/id1671541024">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img class="card" alt="mountains" src="{{ "/assets/img/tsCoach/460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/tsCoach/460x0w6.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/tsCoach/460x0w7.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/tsCoach/460x0wcopy.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/tsCoach/460x0wcopy2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/tsCoach/460x0wcopy3.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Documentation management app </h3>
    <ul>
      <li> Swift, SnapKit, Realm, MVVM, Combine</li>
    </ul>
    <p>Documentation management app for out of range environments with ability to sync persisted data in background when appear online.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/750x750bb-2.jpeg" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/750x750bb-3.jpeg" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/750x750bb-4.jpeg" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/750x750bb-5.jpeg" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/750x750bb-7.jpeg" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/750x750bb-8.jpeg" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/750x750bb.jpeg" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/inside-3.png.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Mealzap </h3>
    <ul>
      <li> Swift, SnapKit, APNS, HealthKit, Charts, Stripe, Prediction Algorithms</li>
    </ul>
    <p>A platform that connects people who want to live a healthy lifestyle with a network of fitness specialists.</p>
    <a class="project-link" href="https://www.crunchbase.com/organization/mealzap">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img class="card" alt="mountains" src="{{ "/assets/img/scalpel/Group-1-2-2560x19998.png.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/scalpel/Group-1-2560x19998.png.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/scalpel/Frame-1-2560x19998.png.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/scalpel/Frame-2-2560x19998.png.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/scalpel/Frame-3-2560x19998.png.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/scalpel/Frame-2560x19998.png.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/scalpel/Group-1-1-2560x19998.png.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Scalpel </h3>
    <ul>
      <li> Swift, SQL Lite, MapKit, Core Data</li>
    </ul>
    <p>App for meical mission in Peru. With no internet environment and month-to-month syncronisation of multiple tablets.</p>
    <a class="project-link" href="https://scalpelatthecross.org">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img class="card" alt="mountains" src="{{ "/assets/img/pathtec/sl460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/pathtec/sl460x0wcopy.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/pathtec/sl460x0wcopy2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/pathtec/sl460x0wcopy4.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Medical delivery tracking app </h3>
    <ul>
      <li> Swift, Objective-C, CoreImage, AVFoundation</li>
    </ul>
    <p> Delivery planner and tracker for medical-related deliveries with strict regulations and timings </p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img class="card" alt="mountains" src="{{ "/assets/img/docutrial/Screenshot 2022-04-26 at 11.55.04.png" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/docutrial/Screenshot 2022-04-26 at 12.02.33.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Docutial </h3>
    <ul>
      <li> Swift, Objective-C, PDF</li>
    </ul>
    <p> PDF documents editor and manager app for multiple-user teams and custom user management </p>
    <a class="project-link" href="https://apps.apple.com/us/app/docutrial/id1329548148">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img class="card" alt="mountains" src="{{ "/assets/img/cyclingplanner/23cycl460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/cyclingplanner/2cycl460x0w2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/cyclingplanner/2cycl460x0w123.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/cyclingplanner/2cycl460x0w.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Cyclingplanner </h3>
    <ul>
      <li> Swift, HealthKit, Strava API, Garmin API</li>
    </ul>
    <p>Trainings tracker for professional cyclists</p>
    <a class="project-link" href="https://apps.apple.com/us/app/cyclingplanner/id1528162153">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w3.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w4.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w5.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w6.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w7.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w8.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah626x0w2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah626x0w3.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah626x0w4.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah626x0w4 copy.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah626x0wip1.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Largest Dutch retail network flagship app </h3>
    <ul>
      <li> Swift, Unit Testing, Core Data, Moya, APNS, AVFoundation</li>
    </ul>
    <p> Retail shops application for ordering, delivery, self-checked purchases and bonus program </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img class="card" alt="mountains" src="{{ "/assets/img/etrade/et460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/etrade/et460x0wcopy.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/etrade/et460x0wcopy2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/etrade/et460x0wcopy3.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/etrade/et460x0wcopy4.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/etrade/et460x0wcopy5.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Electronic trading platform </h3>
    <ul>
      <li> Swift, UIKit, Charts, WebSockets</li>
    </ul>
    <p>One of largest electronic trading and brokerage platforms in US, allows variety of options to buy/sell financial instruments and keep your portfolio + statistics</p>
    <a class="project-link" href="https://apps.apple.com/us/app/power-e-trade-advanced-trading/id1111881020">Check it out</a>
  </div>
</div>
