<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img class="card" alt="mountains" src="{{ "/assets/img/chatbot/3b.png" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/chatbot/4b.png" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/chatbot/Simulator Screenshot - iPhone 15 - 2023-11-02 at 18.02.48.png" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/chatbot/Simulator Screenshot - iPhone 15 - 2023-11-02 at 18.03.08.png" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/chatbot/Simulator Screenshot - iPhone 15 - 2023-11-02 at 18.03.14.png" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/chatbot/Simulator Screenshot - iPhone 15 - 2023-11-02 at 18.02.35.png" | prepend: site.baseurl }}" />

  </div>
  <div class="contents-left">
    <h3>AI Smart Bot</h3>
    <ul>
      <li>Swift, SwiftUI, Combine, Adapti, Facebook analytics</li>
    </ul>
    <p>AI Smart Bot is a chatbot application powered by GPT-4, delivering a seamless conversational experience. We achieved a successful launch on the App Store, reaching an impressive #80 ranking in the Productivity category. To maintain a stable revenue stream and boost user acquisition, we employed a diverse array of tools for advertising, statistical analysis, and A/B testing. Our collaborative efforts, from building the app from scratch to close coordination with the designer and project manager, contributed to our app's growth and success.</p>
    <a class="project-link" href="https://apps.apple.com/us/app/ai-smart-bot-chatbot-assistant/id6449835125">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img class="card" alt="mountains" src="{{ "/assets/img/ts/460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ts/ts460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ts/ts460x0w2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ts/ts460x0w3.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ts/ts460x0w4.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ts/ts460x0w5.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ts/ts460x0w7.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Documentation and family communication app for teachers </h3>
    <ul>
      <li> Swift, SnapKit, Couchbase-Lite, APNS, Combine</li>
    </ul>
    <p> We created a comprehensive documentation and family communication app tailored for teachers, following the Scrum methodology. As the project lead, I directed a team of four, handling workload estimation, developer mentoring, feature implementation, and stakeholder coordination. Additionally, I spearheaded requirements gathering and played a crucial role in determining the app's architecture and development approach, ensuring it met the unique needs of educators and families. </p>
    <a class="project-link" href="https://apps.apple.com/sa/app/teaching-strategies-teacher/id1663286926">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/aicl460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/ts460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/ts460x0w2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/ts460x0w3.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/ts460x0w4.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/ip626x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/ip626x0wcopy.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/aic/ip626x0wcopy2.webp" | prepend: site.baseurl }}" />
    
  </div>
  <div class="contents-left">
    <h3> AI powered construction progress tracking and quality control. </h3>
    <ul>
      <li> Swift, MapBox, GeoJson, RapidJSON</li>
    </ul>
    <p> We designed and developed a cutting-edge AI-powered system for comprehensive construction progress tracking and quality control. Our solution included a geolocation-based app tailored for on-site engineers, ensuring precise real-time updates. To optimize performance, we meticulously fine-tuned data parsing to display statuses for over 2 million Points of Interest (POI) on a construction site map, all while maintaining smooth framerate and minimizing memory consumption. Furthermore, I took the lead in negotiating backend solutions, defining data formats, crafting UI prototypes, and effectively presenting and defending our ideas to our valued customers.</p>
    <a class="project-link" href="https://apps.apple.com/in/app/onsite-tracking/id1671541024">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img class="card" alt="mountains" src="{{ "/assets/img/tsCoach/460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/tsCoach/460x0w6.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/tsCoach/460x0w7.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/tsCoach/460x0wcopy.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/tsCoach/460x0wcopy2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/tsCoach/460x0wcopy3.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Documentation management app </h3>
    <ul>
      <li> Swift, SnapKit, Realm, MVVM, Combine</li>
    </ul>
    <p>We developed a robust documentation management app specifically designed for out-of-range environments. One of its key features is the ability to seamlessly sync persisted data in the background when a network connection becomes available. This ensures that users can access and update their documents even in remote locations, enhancing productivity and data reliability.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/750x750bb-2.jpeg" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/750x750bb-3.jpeg" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/750x750bb-4.jpeg" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/750x750bb-5.jpeg" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/750x750bb-7.jpeg" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/750x750bb-8.jpeg" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/750x750bb.jpeg" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/mealzap/inside-3.png.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Mealzap </h3>
    <ul>
      <li> Swift, SnapKit, APNS, HealthKit, Charts, Stripe, Prediction Algorithms</li>
    </ul>
    <p>Mealzap is a dynamic platform that bridges individuals striving for a healthy lifestyle with a network of fitness experts. As a leader in this venture, I spearheaded the development of two meal delivery apps, both equipped with geolocation tracking integrations. We seamlessly integrated HealthKit with our proprietary prediction algorithms and graphics to provide users with comprehensive health data. Additionally, I orchestrated the integration of a payments gateway and introduced a suite of animations that enhanced our design aesthetics. Our meticulous efforts culminated in a successful launch and included overseeing real-time delivery operations during the critical first week.</p>
    <a class="project-link" href="https://www.crunchbase.com/organization/mealzap">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img class="card" alt="mountains" src="{{ "/assets/img/scalpel/Group-1-2-2560x19998.png.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/scalpel/Group-1-2560x19998.png.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/scalpel/Frame-1-2560x19998.png.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/scalpel/Frame-2-2560x19998.png.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/scalpel/Frame-3-2560x19998.png.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/scalpel/Frame-2560x19998.png.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/scalpel/Group-1-1-2560x19998.png.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Scalpel </h3>
    <ul>
      <li> Swift, SQL Lite, MapKit, Core Data</li>
    </ul>
    <p>We designed and developed a vital app for medical missions in Peru, focusing on appointment management and medical documentation in environments with limited or no internet connectivity. Our solution included the challenging task of month-to-month synchronization across multiple tablets. This allowed healthcare providers to maintain and manage medical care appointments and documentation efficiently, even in remote areas with connectivity challenges, ensuring the delivery of essential healthcare services to those in need.</p>
    <a class="project-link" href="https://scalpelatthecross.org">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img class="card" alt="mountains" src="{{ "/assets/img/pathtec/sl460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/pathtec/sl460x0wcopy.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/pathtec/sl460x0wcopy2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/pathtec/sl460x0wcopy4.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Medical delivery tracking app </h3>
    <ul>
      <li> Swift, Objective-C, CoreImage, AVFoundation</li>
    </ul>
    <p> We created a specialized delivery planner and tracker tailored for medical-related deliveries that adhere to strict regulations and timings. This platform empowered drivers to efficiently plan their daily routes while adhering to these rigorous requirements, ensuring that critical medical supplies and services were delivered on time and in compliance with regulatory standards. </p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img class="card" alt="mountains" src="{{ "/assets/img/docutrial/Screenshot 2022-04-26 at 11.55.04.png" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/docutrial/Screenshot 2022-04-26 at 12.02.33.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Docutial </h3>
    <ul>
      <li> Swift, Objective-C, PDF</li>
    </ul>
    <p> We developed a robust PDF document editor and manager app designed to accommodate multiple-user teams. Our solution included custom user management, enabling organizations to tailor access and permissions according to their specific needs. This app streamlined the collaborative editing and management of PDF documents, enhancing productivity and document control for teams. </p>
    <a class="project-link" href="https://apps.apple.com/us/app/docutrial/id1329548148">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img class="card" alt="mountains" src="{{ "/assets/img/cyclingplanner/23cycl460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/cyclingplanner/2cycl460x0w2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/cyclingplanner/2cycl460x0w123.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/cyclingplanner/2cycl460x0w.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Cyclingplanner </h3>
    <ul>
      <li> Swift, HealthKit, Strava API, Garmin API</li>
    </ul>
    <p>We developed a specialized training tracker tailored for professional cyclists. We were at the forefront of engineering critical athlete parameter calculations before they became standard HealthKit functionalities. To enhance the user experience, we seamlessly integrated the app with popular platforms such as Strava, Garmin, and HealthKit. Moreover, we implemented reliable messaging through sockets and APNS using a cost-effective pony backend, optimizing communication for our users within a tight budget</p>
    <a class="project-link" href="https://apps.apple.com/us/app/cyclingplanner/id1528162153">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w3.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w4.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w5.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w6.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w7.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah460x0w8.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah626x0w2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah626x0w3.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah626x0w4.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah626x0w4 copy.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/ah/ah626x0wip1.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Largest Dutch retail network flagship app </h3>
    <ul>
      <li> Swift, Unit Testing, Core Data, Moya, APNS, AVFoundation</li>
    </ul>
    <p> Our retail shops application serves as the flagship app for the largest Dutch retail network, offering a comprehensive set of features, including ordering, delivery, self-checkout, and a bonus program. In my role, I successfully negotiated and gathered project requirements, ensuring a smooth project launch. By skillfully coordinating my team's efforts with other departments, we not only completed the project ahead of schedule but also outpaced our competitors. Notably, in Amsterdam, Netherlands, I refactored the webview screen to incorporate native dynamic components using SnapKit and CollectionViews, significantly improving performance and enhancing the user experience, as confirmed by analytics. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img class="card" alt="mountains" src="{{ "/assets/img/etrade/et460x0w.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/etrade/et460x0wcopy.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/etrade/et460x0wcopy2.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/etrade/et460x0wcopy3.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/etrade/et460x0wcopy4.webp" | prepend: site.baseurl }}" />
    <img class="card" alt="mountains" src="{{ "/assets/img/etrade/et460x0wcopy5.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Electronic trading platform </h3>
    <ul>
      <li> Swift, UIKit, Charts, WebSockets</li>
    </ul>
    <p>I was a key contributor to the development of one of the largest electronic trading and brokerage platforms in the US, known for its diverse options to buy and sell financial instruments, portfolio management, and in-depth statistics. My role involved creating application modules that required lightning-fast data streaming and complex calculations. Additionally, I undertook a comprehensive UI refactoring to enable theme support as part of a redesign initiative. We also successfully integrated the app with Bloomberg news services and innovatively created a Picture-in-Picture (PiP) reusable component for the news stream when iPhones did not yet support this feature, enhancing the user experience.</p>
    <a class="project-link" href="https://apps.apple.com/us/app/power-e-trade-advanced-trading/id1111881020">Check it out</a>
  </div>
</div>
